@typeparam T
@attribute [CascadingTypeParameter(nameof(T))]

@using Avolutions.Baf.Blazor.DataTable.Models
@using Avolutions.Baf.Blazor.DataTable.Resources
@using Microsoft.Extensions.Localization
@using MudBlazor

@inject IStringLocalizer<DataTableResources> L

<div class="baf-data-table">
    @if (Filter is not null)
    {
        <MudTextField @bind-Value="_searchTerm"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      Class="mb-4"
                      Clearable="true"
                      Immediate="true"
                      Placeholder=@L["SearchPlaceholder"]
                      Variant="Variant.Outlined" />
    }

    <MudDataGrid T="T"
                 Hover="true"
                 Items="Items"
                 Loading="Loading"
                 LoadingProgressColor="Color.Secondary"
                 QuickFilter="CombinedFilter"
                 RowClick="OnRowClick"
                 SortMode="SortMode.Single"
                 @attributes="AdditionalAttributes">
        
        <Columns>
            @Columns
            
            @if (RowActions is not null && RowActions.Count > 0)
            {
                <TemplateColumn StickyRight="true" CellStyle="width: auto; white-space: nowrap; padding: 0 5pt; width: 1%">
                    <CellTemplate>
                        <div class="row-action-buttons">
                            @foreach (var action in RowActions)
                            {
                                <MudTooltip Text="@action.GetText(context.Item)">
                                    <MudIconButton Color="@action.GetColor(context.Item)"
                                                   Disabled="@action.IsDisabled(context.Item)"
                                                   Ripple="@(!action.IsDisabled(context.Item))"
                                                   Icon="@action.GetIcon(context.Item)"
                                                   Size="Size.Medium"
                                                   OnClick="@(() => action.InvokeAsync(context.Item))" />
                                </MudTooltip>
                            }
                        </div>
                    </CellTemplate>
                </TemplateColumn>
            }
        </Columns>
        
        <NoRecordsContent>
            @if(NoRecordsContent is null)
            {
                <MudText>@L["NoRecordsFound"]</MudText>
            }
            else
            {
                @NoRecordsContent
            }
        </NoRecordsContent>
        
        <PagerContent>
            <MudDataGridPager
                RowsPerPageString=@L["Pager.RowsPerPage"]
                InfoFormat=@L["Pager.InfoFormat"] />
            @if (ShowPaging)
            {
                <MudDataGridPager
                    RowsPerPageString=@L["Pager.RowsPerPage"]
                    InfoFormat=@L["Pager.InfoFormat"]/>
            }
        </PagerContent>
    </MudDataGrid>
</div>

@code {
    [Parameter] public RenderFragment? Columns { get; set; }
    [Parameter] public RenderFragment? NoRecordsContent { get; set; }
    
    [Parameter] public Func<T, string, bool>? Filter { get; set; }
    [Parameter] public required IEnumerable<T> Items { get; set; }
    [Parameter] public bool Loading { get; set; }
    [Parameter] public EventCallback<DataGridRowClickEventArgs<T>> OnRowClick { get; set; }
    [Parameter] public List<RowAction<T>>? RowActions { get; set; }
    [Parameter] public bool ShowPaging { get; set; } = true;
    
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
    
    private string _searchTerm = string.Empty;
    
    private bool CombinedFilter(T item)
    {
        if (Filter is null)
        {
            return true;
        }

        if (string.IsNullOrWhiteSpace(_searchTerm))
        {
            return true;
        }

        return Filter(item, _searchTerm);
    }
}