@using Avolutions.Baf.Blazor.Account.Components
@using Avolutions.Baf.Blazor.Account.Extensions
@using Avolutions.Baf.Blazor.Search.Components
@using Avolutions.Baf.Blazor.Theme.Settings
@using Avolutions.Baf.Core.SystemSettings
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms

@inherits LayoutComponentBase

@inject LoadingService LoadingService
@inject ISettings<ThemeSettings> ThemeSettings
@inject ISettings<SystemSettings> SystemSettings
@inject AuthenticationStateProvider Auth

<MudThemeProvider Theme="@_theme"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<NavigationLock />

<MudLayout>
    <MudAppBar Color="Color.Primary" Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3">
            @SystemSettings.Value.ApplicationTitle
        </MudText>
        <MudSpacer />
        <GlobalSearch />
        <MudSpacer />
        <AuthorizeView>
            <Authorized>
                @if (_userId is not null)
                {
                    <UserAvatar UserId="(Guid)_userId" Size="Size.Small" WithName="true"/>
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken/>
                        <MudIconButton
                            Icon="@Icons.Material.Filled.Logout"
                            ButtonType="ButtonType.Submit"
                            Color="Color.Inherit"
                            Class="ml-2"/>
                    </form>
                }
            </Authorized>
        </AuthorizeView>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu T="MainMenu"/>
    </MudDrawer>
    <MudMainContent>
        @if (LoadingService.IsLoading)
        {
            <MudProgressLinear Color="Color.Secondary" Indeterminate="true"/>
        }
        <MudContainer Fixed="true">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool _drawerOpen = true;
    private MudTheme _theme = new();
    private Guid? _userId;

    [CascadingParameter] private Task<AuthenticationState> AuthTask { get; set; } = default!;

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    
    protected override async Task OnInitializedAsync()
    {
        LoadingService.OnLoadingChanged += StateHasChanged;
        _theme = Theme.Create(ThemeSettings.Value);
        _userId = await Auth.GetUserIdAsync();
    }
    
    public void Dispose()
    {
        LoadingService.OnLoadingChanged -= StateHasChanged;
    }
}